[window]
decorations = "None"

[colors.primary]
background = "#000000"
foreground = "#eaeaea"

[font]
size = 11

[font.bold]
family = "Iosevka NF"
style = "Bold"

[font.bold_italic]
family = "Iosevka NF"
style = "Bold Italic"

[font.italic]
family = "Iosevka NF"
style = "Italic"

[font.normal]
family = "Iosevka NF"
style = "Regular"

[scrolling]
history = 5000
multiplier = 3

# [terminal]
# [terminal.shell]
# program = "/bin/zsh"
