 @import url('../../.cache/wal/colors-waybar.css');

* {
    font-family: 'Iosevka Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
}

window#waybar {
    all: unset;
}

window#waybar > box {
    margin-bottom: 4px; 
	margin-left: 8px;
	margin-right: 8px;
	background: alpha(@background, .8);
	box-shadow: rgba(0, 0, 0, .7) 0px 2px 2px;
}

window#waybar.hidden {
    opacity: 0.2;
}

#waybar.bottom > box {
    padding-top: 2px;
    padding-left: 2px;
    padding-right: 2px;
    border-top: 1px solid @color11;
    border-left: 1px solid @color11;
    border-right: 1px solid @color11;
}
#waybar.top > box {
    padding-left: 2px;
    padding-right: 2px;
    border-bottom: 1px solid @color11;
    border-left: 1px solid @color11;
    border-right: 1px solid @color11;
}

#workspaces,
#waycava, 
#media,
#battery,
#clock,
#tray,
#pulseaudio, #backlight,
#cpu, #temperature, #memory {
	color: @color11;
}

button {
    border: none;
    border-radius: 0;
}
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 0px;
}
#workspaces button.active {
	background-color: @color11;
	color: @background;
}

#taskbar button {
    padding: 0 4px;
}
#taskbar button.active {
    border-left: 2px dotted @color11;
    border-right: 2px dotted @color11;
}

