* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Mono";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
}

window#waybar {
    background: rgba(0, 0, 0, 1);
    color: rgba(255, 255, 255, 1);
}

#window {
    color: rgba(255, 255, 255, 1);
}

#workspaces button {
    padding: 0;
    background: transparent;
	color: #484848;
}

#workspaces button.focused {
	color: rgb(141,83,245);
}
#workspaces button.active {
	color: rgb(141,83,245);
}

#clock, #backlight, #battery, #cpu, #memory, #network, #pulseaudio, #tray, #mode {
    /* color: rgba(0, 0, 0, 1); */
    padding: 8 0px;
    margin: 0;
}

#battery icon {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
	color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}


