 @import url('../../.cache/wal/colors-waybar.css');

* {
    font-family: 'Iosevka Nerd Font', FontAwesome, Roboto, Helvetica, Arial, sans-serif;
    font-size: 14px;
	font-weight: bold;
}

window#waybar {
    all: unset;
	background: alpha(@background, .8);
	border-radius: 4px;
	border-top: 0.5px solid alpha(@foreground, .6);
	border-left: 0.5px solid alpha(@foreground, .6);
}

window#waybar > box {
    margin-bottom: 1px; 
    margin-top: 1px; 
	margin-left: 2px;
	/*background: linear-gradient(90deg, alpha(@background, .4) 5%, alpha(@background, .7) 100%); */
	/*box-shadow: rgba(0, 0, 0, 1) 2px 2px 2px 2px;*/
	/*border-left: 0.5px solid @color11;*/
}

menu,
tooltip {
  border-radius: 6px;
  padding: 2px;
  border: 0.5px solid @foreground;
  background: alpha(@background, 0.8);

  color: lighter(@active);
}

menu label,
tooltip label {
  font-size: 14px;
  color: @foreground;
}

window#waybar.hidden {
    opacity: 0.2;
}

#workspaces,
#waycava, 
#media,
#battery,
#clock,
#tray,
#pulseaudio,
#backlight,
#cpu,
#temperature,
#up,
#down,
#memory {
	color: @foreground;
}

button {
    border: none;
}
button:hover {
    background: inherit;
}

#workspaces button {
    padding: 0 0px;
	color: @foreground;
	border-radius: 4px;
}
#workspaces button.active {
	border-bottom: 1px solid @color11;
}

#taskbar button {
    padding: 0 4px;
}
#taskbar button.active {
    border-top: 2px dotted @color11;
    border-bottom: 2px dotted @color11;
}

#battery {
	border-radius: 4px;
	border-bottom: 1px solid @color11;
	color: @foreground;
}
#battery.charging {
	border: 0px;
	color: @background;
	background-color: @foreground;
}
/*#battery.full {*/
/*}*/

#battery.discharging.warning {
	color: @foreground;
	background: linear-gradient(90deg, #b58907 5%, #cea62f 100%); 
}
#battery.discharging.critical {
	color: @foreground;
	background: linear-gradient(90deg, #820608 5%, #8e1517 100%); 
}

