[Unit]
Description=KMonad Laptop keybaord config

[Service]
Restart=always
RestartSec=3
ExecStart=/sbin/kmonad /etc/kmonad/kmonadconf-builtin.kbd
Nice=-20

[Install]
DefaultInstance=config
WantedBy=default.target
