// https://yalter.github.io/niri/Configuration:-Introduction
spawn-at-startup "waybar"
spawn-at-startup "swaync"
spawn-at-startup "awww-daemon"
spawn-sh-at-startup "vicinae server"
// spawn-sh-at-startup "delta-shell run"

include "input.kdl"
include "output.kdl"
include "layout.kdl"

// "Important Hotkeys" pop-up at startup.
hotkey-overlay {
    skip-at-startup
}

// Uncomment this line to ask the clients to omit their client-side decorations if possible.
// If the client will specifically ask for CSD, the request will be honored.
// Additionally, clients will be informed that they are tiled, removing some client-side rounded corners.
// This option will also fix border/focus ring drawing behind some semitransparent windows.
// After enabling or disabling this, you need to restart the apps for this to take effect.
prefer-no-csd

// You can change the path where screenshots are saved.
// A ~ at the front will be expanded to the home directory.
// The path is formatted with strftime(3) to give you the screenshot date and time.
screenshot-path "~/Imágenes/Niri/Captura del %Y-%m-%d %H-%M-%S.png"

// You can also set this to null to disable saving screenshots to disk.
// screenshot-path null

// Animation settings.
// The wiki explains how to configure individual animations:
// https://yalter.github.io/niri/Configuration:-Animations
animations {
    // Uncomment to turn off all animations.
    // off

    // Slow down all animations by this factor. Values below 1 speed them up instead.
    // slowdown 3.0
}

// Optionally, disable the workspace shadows in the overview.
overview {
    workspace-shadow {
        // off
    }
	zoom 0.5
}

include "rules.kdl"
include "binds.kdl"

