// https://yalter.github.io/niri/Configuration:-Outputs

output "eDP-1" {
    mode "1366x768@60.059"
    scale 1
    transform "normal"
    position x=1366 y=0
}

output "HDMI-A-1" {
    mode "1920x1080@60.000"
    scale 1
    transform "normal"
}
