* {
    border: none;
    border-radius: 0;
    font-family: "Adwaita Sans", "Inter Display", "Iosevka NF";
    font-size: 13px;
    font-weight: bold;
    min-height: 0;
	margin: 0;
}

window#waybar {
    background: #84C1F9;
	color: white;
}

#window {
    color: white;
}

#workspaces {
    margin-left: 8px;
}

#workspaces button {
    padding: 0;
    background: transparent;
	color: white;
	text-shadow: 1px 1px 3px black;
}

#workspaces button.active {
	color: white;
}

#clock, #backlight, #battery, #cpu, #memory,
#network, #pulseaudio, #wireplumber,
#custom-notify, #privacy {
    padding: 0px;
    margin-left: 8px;
	margin-right: 8px;
	text-shadow: 1px 1px 3px black;
}

#privacy {
}
#privacy-item {
  margin: 2px 0;
  padding: 0 16px;
  color: white;
  border-radius: 100px;
  border: 1px solid rgba(255, 255, 255, 0.15);
}
#privacy-item.screenshare {
  background: #30c658;
}
#privacy-item.audio-in {
  background: #ffa915;
}
#privacy-item.audio-out {
  background: #1c71d8;
}

#battery icon {
    color: #ffffff;
}

#battery.charging, #battery.plugged {
	color: #26A65B;
}

#battery.critical:not(.charging) {
    background-color: #f53c3c;
    color: #ffffff;
}

